<ul>
  <li>
    <%= link_to "Regions", regions_path %>
  </li>
  <li>
    <%= link_to "Divisions", divisions_path %>
  </li>
  <li>
    <%= link_to "States", states_path %>
  </li>
  <li>
    <%= link_to "Combined Statistical Areas", combined_statistical_areas_path %>
  </li>
  <li>
    <%= link_to "Core Based Statistical Areas", core_based_statistical_areas_path %>
  </li>
  <li>
    <%= link_to "Metropolitan Divisions", metropolitan_divisions_path %>
  </li>
  <li>
    <%= link_to "Designated Market Areas", designated_market_areas_path %>
  </li>
</ul>
